<div class="wrapper">
<!-- START -->

<h1>Formularz informacyjny dotyczący pożyczki konsumenckiej</h1>

<p>(sporządzony zgodnie z&nbsp;art. 13 i&nbsp;14 oraz załącznikiem nr 1&nbsp;do Ustawy
z&nbsp;dnia 12 maja 2011 r.&nbsp;o&nbsp;kredycie konsumenckim, Dz. U. Nr 126, poz. 715
z&nbsp;późn. zm.)

<table>
	<tr>
		<td><b>Kredytodawca:</b></td>
		<td>Friendly Finance Poland Sp. z o.o. z siedzibą w Warszawie, nr KRS: 0000448749,
		NIP: 107-002-50-46, REGON: 146512445</td>
	</tr>
	<tr>
		<td>Adres:</td>
		<td>ul. Złota 7 lok. 18, Friendly Finance Poland Sp. z o.o.</td>
	</tr>
	<tr>
		<td>Numer telefonu:</td>
		<td>+48 22 388 32 10</td>
	</tr>
	<tr>
		<td>Adres poczty elektronicznej:</td>
		<td>kontakt@kobietazkasa.pl</td>
	</tr>
	<tr>
		<td>Numer faksu:</td>
		<td></td>
	</tr>
	<tr>
		<td>Adres strony internetowej:</td>
		<td>www.kobietazkasa.pl</td>
	</tr>
	<tr>
		<td>Pośrednik kredytowy:</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td>Adres:</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>2. Opis głównych cech kredytu</b></td>
		<td></td>
	</tr>
	<tr>
		<td>Rodzaj kredytu</td>
		<td>Pożyczka konsumencka</td>
	</tr>
	<tr>
		<td>Całkowita kwota kredytu<br>
		Suma wszystkich środków pieniężnych, które zostaną Panu/Pani udostępnione</td>
		<td>#LOAN.TOTAL# zł<br>
		#LOAN.SUM# zł</td>
	</tr>
	<tr>
		<td>Terminy i sposób wypłaty kredytu<br>
		W jaki sposób i w jakim terminie otrzyma Pan/Pani środki pieniężne</td>
		<td>Wypłata środków odbywa się bezzwłocznie, w terminie  nie dłuższym niż
		7 dni roboczych od dokonania weryfikacji danych udzielonych przez Pożyczkobiorcę
		oraz wydaniu pozytywnej decyzji o udzieleniu Pożyczki Konsumenckiej  w formie
		przelewu elektronicznego na Rachunek Bankowy  Pożyczkobiorcy prowadzony przez
		bank działający na terytorium Rzeczypospolitej Polskiej.</td>
	</tr>
	<tr>
		<td>Czas obowiązywania umowy</td>
		<td>Umowa Pierwszej Pożyczki oraz Umowy Pożyczek zawierane są na okres wskazany
		we wniosku Pożyczkobiorcy i zaakceptowany przez Pożyczkodawcę</td>
	</tr>
	<tr>
		<td><b>Zasady i terminy spłaty kredytu</b></td>
		<td>W przypadku uzyskania Pożyczki, będzie Pan/Pani zobowiązany/a do zwrotu
		Pożyczki wraz z wszelkimi opłatami i prowizjami w kwocie #LOAN.TOTAL# zł
		na następujących warunkach kwota, liczba i częstotliwość rat Pożyczki.<br>
		Spłata Pożyczki uznawana jest za dokonaną w dniu uznania Rachunku Pożyczkodawcy.
		Każda kwota zapłacona przez Pożyczkobiorcę Pożyczkodawcy będzie najpierw zaliczana
		na poczet Prowizji, Prowizji za Przedłużenie Okresu Spłaty Pożyczki, Prowizji za Plan
		Spłat, a następnie kolejno na poczet wymagalnej Pożyczki (w przypadku zawarcia Umowy
		Z Jednym Terminem Spłaty) lub Raty Pożyczki (w przypadku zawarcia Umowy Pożyczki Ratalnej),
		opłat za opóźnienie, kosztów dochodzenia zwrotu Pożyczki, innych kosztów zgodnie z Tabelą
		Opłat i Prowizji.</td>
	</tr>
	<tr>
		<td><b>Całkowita kwota do zapłaty przez konsumenta</b> Jest to suma wszystkich środków pieniężnych,
		które kredytodawca udostępnia Panu/Pani oraz wszelkie koszty, które zobowiązany/a będzie Pan/Pani
		ponieść w związku z umową o kredyt</td>
		<td>#LOAN.TOTAL# zł</td>
	</tr>
	<tr>
		<td><b>Kredyt wiązany lub w formie odroczonej płatności</b>*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td>-opis towaru lub usługi:</td>
		<td></td>
	</tr>
	<tr>
		<td>-cena:</td>
		<td></td>
	</tr>
	<tr>
		<td><b>Wymagane zabezpieczenia kredytu</b>*
		Zabezpieczenie jakie będzie Pan/Pani musiał/a przedstawić w związku z umową o kredyt</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Informacja czy umowa o kredyt przewiduje gwarancję spłaty całkowitej kwoty kredytu
		wypłaconej na jej podstawie</b> Jeżeli zgodnie z postanowieniami umowy o kredyt płatności dokonywane
		przez Pana/Panią nie są zaliczane do spłaty całkowitej kwoty kredytu, ale będą wykorzystywane do
		zgromadzenia kapitału przez okresy i na zasadach określonych w umowie o kredyt lub w umowie dodatkowej,
		to umowa o kredyt nie przewiduje gwarancji spłaty całkowitej kwoty kredytu wypłaconej na jej podstawie</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>3. Koszty kredytu</b></td>
		<td></td>
	</tr>
	<tr>
		<td><b>Stopa oprocentowania kredytu oraz warunki jej zmiany</b></td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Rzeczywista roczna stopa oprocentowania</b>
		Jest to całkowity koszt kredytu ponoszony przez konsumenta, wyrażony jako wartość procentowa całkowitej
		kwoty kredytu w stosunku rocznym przedstawiona aby pomóc Panu/Pani w porównaniu oferowanych kredytów</td>
		<td>#LOAN.RRSO#%</td>
	</tr>
	<tr>
		<td><b>Obowiązek zawarcia umowy dodatkowej</b>
		Do uzyskania kredytu konieczne jest zawarcie przez Pana/Panią umowy dodatkowej, w szczególności umowy
		ubezpieczenia lub innej umowy</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Koszty, które zo</b><b>bowiązany/a będzie Pan/Pani ponieść w związku z umową o kredyt</b>*</td>
		<td>Prowizja za udzielenie pożyczki w kwocie #LOAN.FEE# zł</td>
	</tr>
	<tr>
		<td>Koszty prowadzenia jednego lub kilku rachunków w celu dokonywania wpłat i wypłat środków pieniężnych*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td>Koszty korzystania z kart kredytowych*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td>Inne koszty, które konsument zobowiązany jest ponieść w związku z umową</td>
		<td>Opłata weryfikacyjna w kwocie 0,01 zł‚ dokonywana z osobistego Rachunku Pożyczkobiorcy</td>
	</tr>
	<tr>
		<td>Warunki, na jakich koszty związane z umową o kredyt mogą ulegać zmianie*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Opłaty notarialne</b>*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Skutek braku płatności</b></td>
		<td>
			1.1 W przypadku opóźnienia w spłacie całości lub części (braku płatności) Pożyczki lub Raty Pożyczki przez
			Pożyczkobiorcę, Pożyczkodawca zastrzega sobie możliwość naliczenia odsetek za zwłokę w wysokości czterokrotnej
			wysokości stopy kredytu lombardowego Narodowego Banku Polskiego w skali – wysokość odsetek na dzień zawarcia
			umowy wynosi 10,00 (dziesięć) % (na dzień 5.03.2015r.)<br>

			1.2 W przypadku opóźnienia w spłacie części lub całości (braku płatności) Pożyczki lub Raty Pożyczki przez
			Pożyczkobiorcę, Pożyczkodawca ma m.in. prawo do: (i) podjęcia działań mających na celu dochodzenie roszczeń
			wynikających z Umowy Pierwszej Pożyczki lub danej Umowy Pożyczki oraz (ii) obciążania Pożyczkobiorcę kosztami
			takich działań w formie opłat windykacyjnych w wysokości i na zasadach określonych poniżej.<br>

			1.3 W pierwszej kolejności Pożyczkodawca będzie podejmował czynności windykacyjne w postaci przeprowadzania rozmów
			telefonicznych z Pożyczkobiorcą, wysyłania SMS-ów (krótkich wiadomości tekstowych) lub wysyłania wiadomości za pośrednictwem
			poczty elektronicznej (wiadomości e-mail).<br>

			1.4 Wysokość opłat windykacyjnych jest następująca:<br>

			1.4.1. 4,00 (cztery) zł za każdy wykonany telefon do Pożyczkobiorcy,<br>

			1.4.2. 2,00 (dwa) zł za każdy wysłany SMS (krótką wiadomość tekstową),<br>

			1.4.3. 12,00 (dwanaście) zł za każde pisemne wezwanie do zapłaty.<br>

			1.5 Pożyczkodawca podejmując daną czynność windykacyjną w stosunku do Pożyczkobiorcy, będzie wyznaczyć Pożyczkobiorcy termin
			(czas) na spłatę zadłużenia wobec Pożyczkodawcy, nie krótszy niż 2 (dwa) dni robocze.<br>

			1.6 W przypadku, gdy:<br>

			1.6.1 Pożyczkobiorca spłacił całe swoje zadłużenie w stosunku do Pożyczkodawcy w terminie do 8-go dnia włącznie, licząc od dnia,
			w którym Pożyczkobiorca był zobowiązany spłacić swoje zadłużenie wobec Pożyczkodawcy, wówczas Pożyczkobiorca nie jest obciążany
			żadnymi opłatami windykacyjnymi,<br>

			1.6.2 Pożyczkobiorca nie spłacił całego swojego zadłużenia w stosunku do Pożyczkodawcy w terminie, o którym mowa w pkt. 1.6.1,
			wówczas Pożyczkodawca:<br>

			1.6.2.1 skieruje do Pożyczkobiorcy pisemne wezwanie do zapłaty („<b>Pierwsze Pisemne Wezwanie</b>”) oraz<br>

			1.6.2.2 obciąży Pożyczkobiorcę kosztami dotychczas przeprowadzonych czynności windykacyjnych w łącznej wysokości nie wyższej jednak
			niż 35,00 (trzydzieści pięć) zł.<br>

			1.7. W przypadku, gdy:<br>

			1.7.1 po wysłaniu Pierwszego Pisemnego Wezwania, a przed upływem 21-go dnia, licząc od dnia, w którym Pożyczkobiorca był zobowiązany
			spłacić swoje zadłużenie wobec Pożyczkodawcy, Pożyczkodawca podejmował czynności windykacyjne, a Pożyczkobiorca spłacił całe swoje
			zadłużenie w stosunku do Pożyczkodawcy, wówczas Pożyczkodawca nie jest obciążany opłatami windykacyjnymi, za wyjątkiem wskazanych
			w pkt. 1.6.2.2 powyżej,<br>

			1.7.2 Pożyczkobiorca nie spłacił całego swojego zadłużenia w stosunku do Pożyczkodawcy w terminie, o którym mowa w pkt. 1.7.1
			powyżej, wówczas Pożyczkodawca:<br>

			1.7.2.1 skieruje do Pożyczkobiorcy pisemne wezwanie do zapłaty („<b>Drugie Pisemne Wezwanie</b>”) oraz<br>

			1.7.2.2 obciąży Pożyczkobiorcę kosztami czynności windykacyjnych przeprowadzonych po bezskutecznym upływie terminu wyznaczonego
			Pożyczkobiorcy przez Pożyczkodawcę na zapłatę w Pierwszym Pisemnym Wezwaniu, w łącznej wysokości nie wyższej jednak niż 50,00
			(pięćdziesiąt) zł.<br>

			1.8. W przypadku, gdy:<br>

			1.8.1 po wysłaniu Drugiego Pisemnego Wezwania, a przed upływem 40-go dnia, licząc od dnia, w którym Pożyczkobiorca był zobowiązany
			spłacić swoje zadłużenie wobec Pożyczkodawcy, Pożyczkodawca podejmował czynności windykacyjne, a Pożyczkobiorca spłacił całe swoje
			zadłużenie w stosunku do Pożyczkodawcy, wówczas Pożyczkodawca nie jest obciążany opłatami windykacyjnymi, za wyjątkiem wskazanych
			w pkt. 1.6.2.2 i 1.7.2.2 powyżej,<br>

			1.8.2 Pożyczkobiorca nie spłacił całego swojego zadłużenia w stosunku do Pożyczkodawcy w terminie, o którym mowa w pkt. 1.8.1 powyżej,
			wówczas Pożyczkodawca:<br>

			1.8.2.1 skieruje do Pożyczkobiorcy pisemne wezwanie do zapłaty („<b>Trzecie Pisemne Wezwanie</b>”) oraz<br>

			1.8.2.2 obciąży Pożyczkobiorcę kosztami czynności windykacyjnych przeprowadzonych po bezskutecznym upływie terminu wyznaczonego
			Pożyczkobiorcy przez Pożyczkodawcę na zapłatę w Drugim Pisemnym Wezwaniu, w łącznej wysokości nie wyższej jednak niż 60,00 (sześćdziesiąt) zł.<br>

			1.9 W przypadku, gdy:<br>

			1.9.1 po wysłaniu Trzeciego Pisemnego Wezwania, a przed upływem 70-go dnia, licząc od dnia, w którym Pożyczkobiorca był zobowiązany spłacić
			swoje zadłużenie wobec Pożyczkodawcy, Pożyczkodawca podejmował czynności windykacyjne, a Pożyczkobiorca spłacił całe swoje zadłużenie w stosunku
			do Pożyczkodawcy, wówczas Pożyczkodawca nie jest obciążany opłatami windykacyjnymi, za wyjątkiem wskazanych w pkt. 1.6.2.2, 1.7.2.2 i 1.8.2.2 powyżej,<br>

			1.9.2 Pożyczkobiorca nie spłacił całego swojego zadłużenia w stosunku do Pożyczkodawcy w terminie, o którym mowa w pkt. 1.9.1 powyżej, wówczas
			Pożyczkodawca:<br>

			1.9.2.1 skieruje do Pożyczkobiorcy pisemne wezwanie do zapłaty („<b>Czwarte Pisemne Wezwanie</b>”) oraz<br>

			1.9.2.2 obciąży Pożyczkobiorcę kosztami czynności windykacyjnych przeprowadzonych po bezskutecznym upływie terminu wyznaczonego Pożyczkobiorcy
			przez Pożyczkodawcę na zapłatę w Trzecim Pisemnym Wezwaniu, w łącznej wysokości nie wyższej jednak niż 70,00 (siedemdziesiąt) zł.<br>

			1.10 Opłaty windykacyjne będą naliczane zgodnie z powyższą procedurą do dnia skierowania do Pożyczkobiorcy CzwartegoPisemnego Wezwania.<br>

			1.11 W przypadku opóźnienia w spłacie (braku płatności) co najmniej dwóch pełnych Rat Pożyczki, Pożyczkodawca ma prawo wypowiedzieć Umowę Pożyczki
			Ratalnej i zażądać od Pożyczkobiorcy spłaty całości zadłużenia Pożyczkobiorcy wobec Pożyczkodawcy z tytułu Umowy Pożyczki Ratalnej w terminie 7
			(siedmiu) dni kalendarzowych od dnia doręczenia oświadczenia o wypowiedzeniu. Wypowiedzenie może nastąpić po uprzednim pisemnych wezwaniu
			Pożyczkobiorcy do zapłaty zaległych rat w terminie nie krótszym niż 7 (siedem) dni, licząc od dnia otrzymania wezwania przez Pożyczkobiorcę,
			pod rygorem wypowiedzenia Umowy Pożyczki Ratalnej.
		</td>
	</tr>
	<tr>
		<td><b>4. Inne ważne informacje:</b></td>
		<td></td>
	</tr>
	<tr>
		<td><b>Odstąpienie od umowy</b> W terminie 14 dni od dnia zawarcia umowy ma Pan/Pani prawo do odstąpienia od umowy:</td>
		<td>TAK</td>
	</tr>
	<tr>
		<td><b>Spłata kredytu przed terminem określonym w umowie</b> Ma Pan/Pani prawo w każdym czasie do spłaty całości lub części kredytu przed
		terminem określonym w umowie</td>
		<td>TAK</td>
	</tr>
	<tr>
		<td><b>Uprawnienie kredytodawcy do zastrzeżenia prowizji za spłatę kredytu przed terminem*</b></td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Sprawdzenie w bazie danych</b> Jeżeli kredytodawca odmówi Panu/Pani udzielenia kredytu konsumenckiego na podstawie informacji
		zawartych w bazie danych kredytodawca zobowiązany jest przekazać Panu/Pani informację o wynikach tego sprawdzenia oraz wskazać bazę
		danych, w której tego sprawdzenia dokonano</td>
		<td>Został/a Pan/Pani sprawdzony/a w bazie danych: Biuro Informacji Gospodarczej InfoMonitor S.A., Krajowy Rejestr Dłużników, Rejestr
		Dłużników ERIF Biuro Informacji Gospodarczej S.A.</td>
	</tr>
	<tr>
		<td><b>Prawo do otrzymania projektu umowy o kredyt</b> Ma Pan/Pani prawo do otrzymania, na wniosek, bezpłatnego projektu umowy o kredyt
		konsumencki, jeżeli w ocenie kredytodawcy spełnia Pan/Pani warunki do udzielenia kredytu konsumenckiego</td>
		<td>Ma Pan/Pani prawo do bezpłatnego otrzymania egzemplarza projektu Umowy o Udzielanie Pożyczek stanowiącej jednocześnie Umowę Pierwszej
		Pożyczki</td>
	</tr>
	<tr>
		<td><b>Czas obowiązywania formularza</b>*</td>
		<td>Niniejsza informacja zachowuje ważność 10 (dziesięć) dni roboczych od dnia jej otrzymania przez Pana/Panią</td>
	</tr>
	<tr>
		<td><b>5. Dodatkowe informacje podawane w przypadku sprzedaży usług finansowych na odległość</b></td>
	</tr>
	<tr>
		<td>a) dane kredytodawcy</td>
		<td></td>
	</tr>
	<tr>
		<td><b>Kredytodawca:</b>*</td>
		<td>Friendly Finance Poland Sp. z o.o. z siedzibą w Warszawie</td>
	</tr>
	<tr>
		<td>Adres: (siedziba)</td>
		<td>ul. Złota 7 lok. 18, Friendly Finance Poland Sp. z o.o.</td>
	</tr>
	<tr>
		<td>Numer telefonu: (informacja ta ma charakter opcjonalny)</td>
		<td></td>
	</tr>
	<tr>
		<td>Adres poczty elektronicznej: (informacja ta ma charakter opcjonalny)</td>
		<td></td>
	</tr>
	<tr>
		<td>Numer faksu: (informacja ta ma charakter opcjonalny)</td>
		<td></td>
	</tr>
	<tr>
		<td>Adres strony internetowej:* (informacja ta ma charakter opcjonalny)</td>
		<td>www.kobietazkasa.pl</td>
	</tr>
	<tr>
		<td><b>Rejestr</b>*</td>
		<td>Rejestr Przedsiębiorców Krajowego Rejestru SA prowadzony przez Sąd Rejonowy dla m.st. Warszawy, XII Wydział‚
		Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS 0000448749</td>
	</tr>
	<tr>
		<td><b>Organ nadzoru</b>*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td>b) dane dotyczące umowy</td>
		<td></td>
	</tr>
	<tr>
		<td><b>Odstąpienie od umowy</b>*</td>
		<td>Ma Pan/Pani ma prawo odstąpić od Umowy, Umowy Pierwszej Pożyczki i każdej z Umów Pożyczek bez podania przyczyny,
		w terminie 14 dni od daty zawarcia danej umowy. Pan/Pani może wykonać prawo odstąpienia w szczególności przy użyciu
		przekazanego przez Pożyczkodawcę wzoru oświadczenia o odstąpieniu, wysyłając oświadczenie o odstąpieniu na adres
		Pożyczkodawcy wskazany w Umowie w terminie wskazanym powyżej. Pan/Pani w przypadku odstąpienia od Umowy Pierwszej
		Pożyczki lub Umowy Pożyczki zwraca niezwłocznie Friendly Finance, kwotę Pożyczki na Rachunek Friendly Finance,
		nie później niż w terminie 30 dni od dnia złożenia oświadczenia o odstąpieniu.</td>
	</tr>
	<tr>
		<td><b>Wybór prawa właściwego</b>* Do zawartej z Panem/Panią umowy o kredyt będzie miało zastosowanie prawo:</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Postanowienie umowy dotyczące wyboru prawa właściwego</b>*</td>
		<td>NIE DOTYCZY</td>
	</tr>
	<tr>
		<td><b>Język umowy</b>*</td>
		<td>Za Pana/Pani zgodą w okresie obowiązywania umowy o kredyt zamierzamy się z Panem/Panią porozumiewać w języku polskim</td>
	</tr>
	<tr>
		<td>c) dane dotyczące odwołań</td>
		<td></td>
	</tr>
	<tr>
		<td><b>Pozasądowe rozstrzyganie sporów</b></td>
		<td>Spory związane z Umową rozstrzygane są najpierw w drodze wzajemnych negocjacji. Jeżeli strony nie dojdą do porozumienia,
		wszelkie spory będą rozpatrywał sąd właściwy dla siedziby lub miejsca zamieszkania pozwanego, tj. sąd właściwy dla siedziby
		Friendly Finance, jeżeli stroną pozwaną jest Friendly Finance, albo sąd właściwy dla miejsca zamieszkania Pana/Pani, jeżeli
		to Pan/Pani jest stroną pozwaną, powództwo o ustalenie istnienia Umowy, o jej wykonanie, rozwiązanie lub unieważnienie, jako
		też o odszkodowanie z powodu niewykonania lub nienależytego wykonania Umowy można także wytoczyć przed sądem miejsca jej
		wykonania.</td>
	</tr>
</table>

<!-- END -->
</div>