.wrapper { font-family: Arial, Helvetica, sans-serif; }

h1 {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 26px;
	line-height: 36px;
    text-transform: uppercase;
    text-align: center; }

p {
	margin-bottom: 40px;
	text-align: center; }

table tr:nth-child(odd) { background-color: #eee; }

table tr td {
	width: 50%;
	padding: 20px;
	vertical-align: top;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 32px;
}