@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);

@font-face {
    font-family: 'peralta';
    src: url('fonts/peralta-regular-webfont.eot');
    src: url('fonts/peralta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/peralta-regular-webfont.svg#peraltaregular') format('svg'),
         url('fonts/peralta-regular-webfont.woff') format('woff'),
         url('fonts/peralta-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

header, nav, aside, section, article, footer { display: block; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button,
header, nav, aside, footer, section, article, time, mark, figure, figcaption,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

::-webkit-input-placeholder {
    color: #cccccc;
}
:-moz-placeholder {
    color: #cccccc;
}
::-moz-placeholder {
    color: #cccccc;
}
:-ms-input-placeholder {
    color: #cccccc;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #000;
	font: 14px/19px 'Open Sans', Arial, Helvetica, sans-serif;
	background:#fff url(../images/bg.png) repeat-x 50% 300px;
}

strong { font-weight: bold; }
em { font-style: italic; }

a {
	color: #ef560a;
}
	a:hover {
		color:#000;
	text-decoration:none;
	}
.centralize {
	width:970px;
	margin:0 auto;
}
input[type=text],
input[type=password],
textarea,
a.selectBox {
	display:block;
	width:100%;
	padding:10px 15px;
	background:#fff;
	border-radius:10px;
	color:#000;
	border:0;
}
textarea {
	outline:none;
	resize:none;
	height:100px;
	overflow:auto;
}
a.selectBox {
	padding-right:30px;
	position:relative;
}
	a.selectBox span.selectBox-arrow {
		position:absolute;
		top:12px;
		right:12px;
		width:15px;
		height:15px;
		background:url(../images/ico/arr.png) no-repeat 0 100%;
		cursor:pointer;
	}
input[type=text].error,
input[type=password].error,
textarea.error,
a.selectBox.error {
	background: #FFDFE0;
	color:#f00;
}

.selectBox-dropdown-menu {
	position:absolute;
	z-index:999;
	background:#fff;
	border-radius:10px;
	overflow:auto;
	max-height:300px;
	list-style:none;
}
.selectBox-dropdown-menu li:first-child {
	display:none;
}
.selectBox-dropdown-menu a {
	display:block;
	padding:4px 15px;
	cursor:pointer;
	color:#000;
}
/******************************************
Page
*******************************************/

header {
	position:relative;
	z-index:9;
}
	header h1 {
		float:left;
	}
	header nav {
		position:absolute;
		top:12px;
		right:-60px;
		padding:33px 20px;
	}
		header nav ul {
			list-style:none;
		}
			header nav ul li {
				float:left;
				margin:0 5px;
			}
				header nav ul li a {
					display:block;
					padding:15px;
					font-size:18px;
					color:#383d3f;
					text-decoration:none;
				}
				header nav ul li.active a,
				header nav ul li a:hover {
					color: #000;
					background:url(../images/ico/m2.png) no-repeat;
					background-size:100% 100%;
				}
				header nav ul li.m4.active a,
				header nav ul li.m4 a:hover {
					color: #000;
					background:url(../images/ico/m1.png) no-repeat;
					background-size:100% 100%;
				}

	header p.kontakt {
		line-height:1.9em;
		position:absolute;
		top:10px;
		right:-20px;
		font-size:14px;
	}
		header p.kontakt strong {
			font-weight:600;
		}
	header p.partner {
		position:absolute;
		top:0;
		right:0;
		background: url(../images/partner.png) no-repeat;
		width:158px;
		height:107px;
		text-indent:-9999px;
	}

footer {
	text-align:center;
	padding:20px 0 0;
	color:#333536;
}

	footer p {
		max-width:900px;
		margin:0 auto;
		padding:10px 0;
		font-size:13px;
	}
	footer p.kontakt {
		padding:20px 0 0;
		line-height:1.9em;
		font-weight:bold;
	}
		footer p.kontakt strong {
			font-size:24px;
		}
	footer ul {
		background:url(../images/footer_bg.png) no-repeat;
		width:532px;
		margin:30px auto 20px;
		height:59px;
		text-align:center;
		line-height:39px;
	}
		footer ul li {
			display:inline-block;
		}
			footer ul li a {
				display:block;
				padding:10px 7px;
				font-size:18px;
				color:#000;
				text-decoration:none;
			}
			footer ul li a:hover {
				color: #ef560a;
			}
			footer ul li.active a {
				font-weight:600;
			}
	footer > div {
		background:#f6f6f6;
		padding:30px 0;
		margin:20px 0 0;
	}
		footer > div p {
			font-size:9px;
			line-height:1.2em;
			color:#333;
		}

		.justify {
			text-align:justify;
		}

		.center {
			text-align:center;
		}

		p {
			margin-bottom:5px;
		}
