/*******************
	Home
********************/
	body.home {
		background:#fff url(../images/bg.png) repeat-x 50% 130px;
	}
	.home .hero {
		height:530px;
		background:url(../images/home/hero.png) no-repeat 0 72px;
		background-size:430px auto;
		position:relative;
		min-width:970px;
		max-width:1030px;
		margin:-30px auto 0;
	}
		.home .hero h2 {
			font-family: 'peralta';
			color:#f8a239;
			font-size:59px;
			line-height:0.85em;
			position:absolute;
			top:10px;
			right:0;
			text-align:center;
		}
			.home .hero h2 strong {
				color:#ef560a;
			}

		.home .hero p.txt1 {
			/*width:320px;*/
			position:absolute;
			left:470px;
			top:360px;
			font-size:14px;
			line-height:1.4em;
			font-weight:600;
		}
		.home .hero p.kolo {
			color:#fff;
			background:#e43d2b;
			text-align:center;
			padding:20px 0 0;
			height:136px;
			width:136px;
			border-radius:73px;
			position:absolute;
			top:380px;
			right:60px;
			font-size:13px;
				-moz-transform: rotate(15deg);
				-webkit-transform: rotate(15deg);
				-o-transform: rotate(15deg);
				-ms-transform: rotate(15deg);
				transform: rotate(15deg);
		}
			.home .hero p.kolo strong.big {
				display:block;
				font-size:36px;
				line-height:1em;
			}
			.home .hero p.kolo:after {
				display:block;
				background:url(../images/home/arr4.png) no-repeat;
				width:65px;
				height:140px;
				content:' ';
				right:-30px;
				top:-140px;
				position:absolute;
				-moz-transform: rotate(-15deg);
				-webkit-transform: rotate(-15deg);
				-o-transform: rotate(-15deg);
				-ms-transform: rotate(-15deg);
				transform: rotate(-15deg);
			}
		.home .hero form {}
			.home .hero form fieldset {
				position: absolute;
				top:120px;
				width:200px;
				height:200px;
				border-radius:50%;
				display:block;
				box-shadow:0 0 200px #fff;
				text-align:center;
			}
			.home .hero form fieldset.kolo1 {
				background:#e1d4ba;
				right:460px;
			}
			.home .hero form fieldset.kolo2 {
				background:#f1e5cd;
				right:245px;
			}
			.home .hero form fieldset.kolo3 {
				background:#f89a1d;
				right:30px;
				border:2px dashed #000;
			}
			.home .hero form fieldset.kolo1 h5,
			.home .hero form fieldset.kolo2 h5 {
				font-size:22px;
				font-weight:bold;
				padding:38px 0 22px;
			}
			.home .hero form fieldset.kolo1 div,
			.home .hero form fieldset.kolo2 div {
				background:#fff;
				margin:0 13px;
				border-radius:10px;
				font-weight:bold;
				font-size:30px;
				line-height:1em;
				padding:8px 15px 6px 0;
				text-align:center;
				color:#ef560a;
				position:relative;
			}
			.home .hero form fieldset.kolo1 div strong,
			.home .hero form fieldset.kolo2 div strong {
				font-size:36px;
			}
			.home .hero form fieldset.kolo1 div a,
			.home .hero form fieldset.kolo2 div a {
				background-image:url(../images/ico/arr.png);
				background-repeat: no-repeat;
				width:16px;
				height:16px;
				position:absolute;
				right:9px;
				text-indent:-9999px;
				cursor:pointer;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.home .hero form fieldset div a.plus {
				top:8px;
				background-position:50% 0;
			}
			.home .hero form fieldset div a.minus {
				bottom:8px;
				background-position:50% 100%;
			}
			.home .hero form fieldset.kolo1 p,
			.home .hero form fieldset.kolo2 p {
				font-size:12px;
				padding:32px 0 0;
			}
			.home .hero form fieldset.kolo3 p,
			.home .hero form fieldset.kolo3 p {
				font-size:10px;
				line-height:1.3em;
				position:absolute;
				left:0;
				width:100%;
			}
			.home .hero form fieldset.kolo3 p.t1 {
				top:25px;
			}
			.home .hero form fieldset.kolo3 p.t2 {
				bottom:22px;
			}
			.home .hero form fieldset.kolo3 p.t3 {
				bottom:-22px;
			}
			.home .hero form fieldset.kolo3 button {
				font-size:24px;
				line-height:1em;
				background:none;
				cursor:pointer;
				outline:none;
				font-family: 'peralta';
				color:#fff;
				position:absolute;
				left:0;
				width:100%;
				top:50%;
				overflow:visible;
				margin-top:-35px;
				-moz-transform: rotate(-5deg);
				-webkit-transform: rotate(-5deg);
				-o-transform: rotate(-5deg);
				-ms-transform: rotate(-5deg);
				transform: rotate(-5deg);
				padding-right:10px;
			}
			.home .hero form fieldset.kolo3 button strong {
				font-size:54px;
				display: block;
				line-height: 0.8em;
			}
			.home .hero form fieldset.kolo3 button:after {
				background:#ef560a url(../images/home/arr.png) no-repeat 50% 50%;
				width:62px;
				height:62px;
				border-radius:50%;
				border:4px solid #fff;
				display:block;
				content:' ';
				position:absolute;
				right:-42px;
				top:2px;
			}

			.home .opinia p.txt {
				position: relative;
				z-index:2;
			}

	/* Formularz informacyjny */

	.home .formularz {
		display: block;
		min-width: 970px;
		max-width: 1030px;
		padding: 10px;
		margin: 0 auto 50px auto;
		background-color: #f1e5cd;
		border-radius: 8px;
		color: #333;
		text-align: center;
		text-decoration: none;
	}

		.home .formularz:hover { background-color: #e1d4ba; }

	.home .gwarancja {
		background: url(../images/home/shadow.png) no-repeat 50% 0;
		padding:20px 0 0;
	}
		.home .gwarancja h2 {
			font-family: 'peralta';
			color:#f8a239;
			font-size:30px;
			line-height:1.3em;
			text-align:center;
			background:url(../images/home/line.png) no-repeat 50% 62%;
		}
			.home .gwarancja h2 strong {
				color:#ef560a;
				font-size:80px;
			}
		.home .gwarancja h3 {
		}
		.home .gwarancja ul {
			list-style:none;
			text-align:center;
			padding:130px 0 60px;
		}
			.home .gwarancja ul li {
				display:inline-block;
				width:230px;
				height:210px;
				position:relative;
			}
			.home .gwarancja ul li.second {
				margin:0 100px;
			}
				.home .gwarancja ul li h3 {
					font-family: 'peralta';
					color:#ef560a;
					font-size:26px;
					line-height:1.3em;
					position:absolute;
					left:-35px;
					top:-65px;
					background:url(../images/home/tick.png) no-repeat 0 0;
					white-space:nowrap;
					padding:7px 0 5px 45px;
				}
				.home .gwarancja ul li > div {
					display:table;
					width:230px;
					height:210px;
					margin:0 auto;
				}
					.home .gwarancja ul li > div > p {
						display:table-cell;
						text-align:center;
						padding:20px;
						vertical-align:middle;
						font-size:13px;
						line-height:1.35em;
					}
					.home .gwarancja ul li > div div.bg {
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						background:#f4f2d5;
						border:2px dashed #999;
						z-index:-1;
					}
				.home .gwarancja ul li.first > div div.bg {
					-moz-transform: rotate(-5deg);
					-webkit-transform: rotate(-5deg);
					-o-transform: rotate(-5deg);
					-ms-transform: rotate(-5deg);
					transform: rotate(-5deg);
				}
			.home .gwarancja ul li.first:after {
				background:url(../images/home/arr2.png) no-repeat;
				width:121px;
				height:40px;
				display:block;
				content:' ';
				position:absolute;
				top:80px;
				right:-110px;
			}
				.home .gwarancja ul li.second > div div.bg {
					-moz-transform: rotate(2deg);
					-webkit-transform: rotate(2deg);
					-o-transform: rotate(2deg);
					-ms-transform: rotate(2deg);
					transform: rotate(2deg);
				}
			.home .gwarancja ul li.second:after {
				background:url(../images/home/arr3.png) no-repeat;
				width:121px;
				height:40px;
				display:block;
				content:' ';
				position:absolute;
				top:100px;
				right:-110px;
			}
			.home .gwarancja ul li.third > div div.bg {
				-moz-transform: rotate(4deg);
				-webkit-transform: rotate(4deg);
				-o-transform: rotate(4deg);
				-ms-transform: rotate(4deg);
				transform: rotate(4deg);
			}

	.home .opinia {
		background:url(../images/home/box.png) no-repeat;
		width:730px;
		height:364px;
		margin:100px auto 50px;
		padding:100px 200px 0 60px;
		position:relative;
	}
		.home .opinia h5 {
			color:#f8a239;
			font-size:26px;
			line-height:1em;
			top:-35px;
			left:140px;
		}
		.home .opinia h4 {
			color:#ef560a;
			font-size:67px;
			line-height:1em;
			top:-15px;
			left:40px;
		}
		.home .opinia h5,
		.home .opinia h4 {
			font-family: 'peralta';
			text-shadow:
			-2px -2px 0 #fff,
			2px -2px 0 #fff,
			-2px 2px 0 #fff,
			2px 2px 0 #fff;
			position:absolute;
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		.home .opinia h3 {
			font-weight:600;
			font-size:22px;
			line-height:1.1em;
			padding:0 0 20px;
			z-index:2;
		}
		.home .opinia img {
			position:absolute;
			right:-60px;
			bottom:-60px;
			z-index:1;
		}


/*******************
	Opinie
********************/

		.opinie {
			position:relative;
			padding:0 0 30px;
		}
		.opinie h2 {
			font-family: 'peralta';
			color:#ef560a;
			font-size:56px;
			line-height:0.85em;
			margin:0 0 10px 110px;
			padding:0 0 15px;
			width:648px;
			background:url(../images/home/line.png) no-repeat 50% 100%;
			text-align:center;
		}
		.opinie .opinia {
			background:url(../images/home/box.png) no-repeat;
			width:730px;
			height:364px;
			margin:100px 30px 50px;
			padding:100px 200px 0 60px;
			position:relative;
		}
		.opinie .opinia h5 {
			color:#f8a239;
			font-size:26px;
			line-height:1em;
			top:-2px;
			left:140px;
		}
		.opinie .opinia h4 {
		color:#ef560a;
			font-size:47px;
			line-height:1em;
			top:25px;
			left:40px;
		}
		.opinie .opinia h5,
		.opinie .opinia h4 {
			font-family: 'peralta';
			text-shadow:
			-2px -2px 0 #fff,
			2px -2px 0 #fff,
			-2px 2px 0 #fff,
			2px 2px 0 #fff;
			position:absolute;
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
			z-index: 2;
		}
		.opinie .opinia h3 {
			font-weight:600;
			font-size:22px;
			line-height:1.1em;
			padding:0 0 20px;
		}
		.opinie .opinia img {
			position: absolute;
			top: -50px;
			right: 20px;
			width: 245px;
			height: auto;
		}

		.opinie .box {
			background-size: 100% 100%;
			width: 728px;
			margin: 0 0 0 30px;
			padding: 30px;
		}

/*******************
	Form / kontakt
********************/
.form {
	position:relative;
	padding:0 0 30px;
}
	.form h2 {
		font-family: 'peralta';
		color:#ef560a;
		font-size:56px;
		line-height:0.85em;
		margin:0 0 10px 110px;
		padding:0 0 15px;
		width:648px;
		background:url(../images/home/line.png) no-repeat 50% 100%;
		text-align:center;
	}
	.form img.pic {
		position:absolute;
		top:0;
		left:-160px;
		z-index:-1;
	}
	.form .box {
		background:url(../images/box.png) no-repeat;
		background-size:100% 100%;
		width:648px;
		margin:0 0 0 110px;
		padding:30px;
	}
	.full_width h2 {
		font-family: 'peralta';
		color:#ef560a;
		font-size:56px;
		line-height:0.85em;
		margin:0 auto 10px auto;
		padding:0 0 15px;
		width:758px;
		background:url(../images/home/line.png) no-repeat 50% 100%;
		text-align:center;
	}

	.full_width .box {
		background:url(../images/box.png) no-repeat;
		background-size:100% 100%;
		width:758px;
		margin:0 auto;
		padding:50px 45px;
	}
		.form .box h2 {
			background:none;
			margin:-50px 0 30px -30px;
			padding:0;
		}
		.form .box h3 {
			font-family: 'peralta';
			color:#f89a1d;
			font-size:26px;
			line-height:1.1em;
			padding:0 0 15px;
			text-align:center;
		}
		.form .box fieldset {
			padding:0 0 30px;
		}
		.form .box .txt {
			padding:30px;
			text-align:center;
		}

		.form .box .txt h4 {
			font-weight:bold;
			font-size:18px;
			line-height:1.3em;
		}

		.form .box .txt p {
			color:#666;
			padding: 30px 30px 0;
		}

		.thankyou.form .box .txt p {
			padding: 15px 30px 0;
		}

		.thankyou .bank p {
			padding:0 !important;
		}

		.form .box .form_row {
			padding:5px 0;
		}
		.form .box .form_row.inline {
			display:inline-block;
		}
			.form .box .form_row label {
				display:inline-block;
				width:200px;
				margin:0 10px 0 0;
				text-align:right;
			}
			.form.kontakt_form .box .form_row label {
				width:140px;
			}
			.form .box .form_row label.short {
				width:156px;
			}
			.form .box .form_row label.medium {
				width:106px;
			}
			.form .box .form_row > span {
				color: #666;
				padding:0 8px;
				display:inline-block;
			}
			.form .box .form_row > * {
				vertical-align: middle;
			}
			.form .box fieldset > p {
				font-size:11px;
				text-align:center;
				padding:10px 0;
				color:#958b77;
			}
			.form .box .form_row input[type=text],
			.form .box .form_row input[type=password],
			.form .box .form_row textarea,
			.form .box .form_row a.selectBox {
				width:335px;;
				display:inline-block;
			}
			.form.kontakt_form .box .form_row input[type=text],
			.form.kontakt_form .box .form_row textarea {
				width:370px;
			}
			.form .box .form_row a.selectBox.day,
			.form .box .form_row a.selectBox.year {
				width:90px;
			}
			.form .box .form_row a.selectBox.month {
				width:146px;
			}
			.form .box .form_row input.kod1 {
				width:100px;
			}
			.form .box .form_row input.kod2 {
				width:110px;
			}
			.form .box .form_row a.selectBox.short {
				width:80px;
			}
			.form .box .form_row a.selectBox.medium {
				width:130px;
			}
			.form .box .form_row input.re_pwd.ok {
				background:#fff url(../images/ico/val.png) no-repeat 300px -44px;
			}
			.form .box .form_row input.re_pwd.wrong {
				background:#fff url(../images/ico/val.png) no-repeat 300px 6px;
			}
			.form .box fieldset label.chck {
				font-size:12px;
				text-align:center;
				padding:20px 0 0;
				text-align:left;
				display:block;
				line-height:140%;
				margin-left:80px;
			}
			.form .box fieldset label.chck input {
				position:absolute;
				opacity:0.01;
			}
			.form .box fieldset label.chck span.tick {
				background-image:url(../images/ico/chck.png);
				background-repeat:no-repeat;
				display:inline-block;
				width:28px;
				height:28px;
				background-position:0 -40px;
				vertical-align: -35%;
				margin:0 5px 0 0;
			}
			.form .box fieldset label.chck span.tick.on {
				background-position:0 0;
			}
			.form .box fieldset label.chck.error span.tick {
				background-position:0 -80px;
			}
			.form .box button {
				background:url(../images/btn.png) no-repeat;
				width:208px;
				height:85px;
				display:block;
				margin:10px auto -50px;
				padding:0 0 0 20px;
				font-size:30px;
				color:#fff;
				line-height:85px;
				text-align:left;
				cursor:pointer;
				font-family: 'peralta';
			}
		.form.kontakt_form .kontakt {
			width:648px;
			margin:0 0 0 120px;
			padding: 20px 0 50px;
		}
		.form.kontakt_form .kontakt > div {
			display:inline-block;
			vertical-align:top;
			width:48%;
		}
		.form.kontakt_form .kontakt > div h3 {
			font-family: 'peralta';
			color:#f89a1d;
			font-size:22px;
			padding:0 0 10px;
		}
		.form.kontakt_form .kontakt > div h4 {
			font-weight:bold;
		}

		.form.kontakt_form .kontakt > div p {
			font-size:11px;
			line-height:1.3em;
			color:#666;
			padding:13px 0 0;
		}

/********
	Box 'Twoja pozyczka'
*********/

	.twoja_pozyczka {
		position:absolute;
		top:0;
		right:0;
	}

		.twoja_pozyczka h3 {
			font-family: 'peralta';
			color:#f8a239;
			font-size:28px;
			line-height:1.1em;
			position:relative;
			width:200px;
			margin:0 auto 10px;
			text-align:center;
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
			z-index:1;
		}
			.twoja_pozyczka h3 strong {
				color:#ef560a;
				display:block;
				line-height:0.75em;
				font-size:34px;
			}
		.twoja_pozyczka h3:after {
			background:url(../images/ico/arr1.png) no-repeat;
			width:37px;
			height:120px;
			content: ' ';
			position:absolute;
			bottom:-110px;
			right:-15px;
		}
		.twoja_pozyczka fieldset {
			position: relative;
			width:170px;
			height:170px;
			border-radius:50%;
			display:block;
			text-align:center;
			margin:0 auto -10px;
		}
		.twoja_pozyczka fieldset.kolo1 {
			background:#f05d34;
			color:#f05d34;
		}
		.twoja_pozyczka fieldset.kolo2 {
			background:#f89a1d;
			color:#f89a1d;
		}
		.twoja_pozyczka fieldset.kolo3 {
			background:#f89a1d;
			border:2px dashed #000;
		}
		.twoja_pozyczka fieldset.kolo1 h5,
		.twoja_pozyczka fieldset.kolo2 h5 {
			font-size:18px;
			font-weight:bold;
			padding:28px 0 16px;
			color:#000;
		}
		.twoja_pozyczka fieldset.kolo1 div,
		.twoja_pozyczka fieldset.kolo2 div {
			background:#fff;
			margin:0 10px;
			border-radius:10px;
			font-weight:bold;
			font-size:27px;
			line-height:1em;
			padding:10px 18px 8px 0;
			text-align:center;
			position:relative;
		}
		.twoja_pozyczka fieldset.kolo1 div strong,
		.twoja_pozyczka fieldset.kolo2 div strong {
			font-size:34px;
		}
		.twoja_pozyczka fieldset.kolo1 div a,
		.twoja_pozyczka fieldset.kolo2 div a {
			background-image:url(../images/ico/arr.png);
			background-repeat: no-repeat;
			width:16px;
			height:16px;
			position:absolute;
			right:9px;
			text-indent:-9999px;
			cursor:pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.twoja_pozyczka .locked fieldset.kolo1 div a,
		.twoja_pozyczka .locked fieldset.kolo2 div a {
			cursor:default;
		}
		.twoja_pozyczka fieldset div a.plus {
			top:8px;
			background-position:50% 0;
		}
		.twoja_pozyczka fieldset div a.minus {
			bottom:8px;
			background-position:50% 100%;
		}
		.twoja_pozyczka fieldset.kolo1 p,
		.twoja_pozyczka fieldset.kolo2 p {
			font-size:12px;
			padding:22px 0 0;
			color:#000;
		}
		.twoja_pozyczka fieldset.kolo3 p,
		.twoja_pozyczka fieldset.kolo3 p {
			font-size:9px;
			line-height:1.3em;
			position:absolute;
			left:0;
			width:100%;
		}
		.twoja_pozyczka fieldset.kolo3 p.t1 {
			top:18px;
		}
		.twoja_pozyczka fieldset.kolo3 p.t2 {
			bottom:14px;
		}
		.twoja_pozyczka fieldset.kolo3 p.t3 {
			bottom:-22px;
		}
		.twoja_pozyczka fieldset.kolo3 button {
			font-size:21px;
			line-height:1em;
			background:none;
			cursor:pointer;
			outline:none;
			font-family: 'peralta';
			color:#fff;
			position:absolute;
			left:0;
			width:100%;
			top:50%;
			margin-top:-27px;
			overflow:visible;
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
			padding-right:10px;
		}
		.twoja_pozyczka fieldset.kolo3 button strong {
			font-size:46px;
			display: block;
			line-height: 0.8em;
		}
		.twoja_pozyczka fieldset.kolo3 button:after {
			background:#ef560a url(../images/home/arr.png) no-repeat 50% 50%;
			background-size:22px auto;
			width:50px;
			height:50px;
			border-radius:50%;
			border:4px solid #fff;
			display:block;
			content:' ';
			position:absolute;
			right:-32px;
			top:0;
		}

/*******************
	Form / kontakt
********************/
.faq {
	position:relative;
	padding:0 0 30px;
}
	.faq h2 {
		font-family: 'peralta';
		color: #ef560a;
		font-size: 56px;
		line-height: 0.85em;
		margin: 0 0 10px 110px;
		padding: 0 0 15px;
		width: 648px;
		background: url(../images/home/line.png) no-repeat 50% 100%;
		text-align: center;
	}

	.faq div.inne_pytania h3 {
		font-family: 'peralta';
		color:#f8a239;
		font-size:36px;
		line-height:1em;
		margin:0 0 10px 110px;
		padding:0 0 15px;
		width:648px;
		background:url(../images/home/line.png) no-repeat 50% 100%;
		text-align:center;
	}
	.faq h2 strong,
	.faq div.inne_pytania h3 strong {
		color:#ef560a;
	}
	.faq > p {
		margin:0 0 10px 110px;
		padding:15px 30px;
		width:648px;
		text-align:center;
		font-weight:600;
		font-size:15px;
	}
	.faq div.faq_column {
		background:url(../images/box1.png) no-repeat 50% 0;
		width:231px;
		display:inline-block;
		position:relative;
		padding:0;
		vertical-align:top;
		margin:20px 0 20px 20px;
	}
		.faq div.faq_column:after {
			width:231px;
			height:10px;
			background:url(../images/box1.png) no-repeat 50% 100%;
			display:block;
			position:absolute;
			content:' ';
			bottom:-10px;
			left:0;
		}
		.faq div.faq_column h3 {
			text-align:center;
			font-family: 'peralta';
			color: #ef560a;
			font-size: 23px;
			margin:-25px 0 10px;
			line-height: 1.1em;
			text-shadow: -2px -2px 0 #fff,
			 2px -2px 0 #fff,
			 -2px 2px 0 #fff,
			 2px 2px 0 #fff;
		}
		.faq div.faq_column ul {
			list-style:none;
			padding:0 20px 20px;
		}
		.faq div.faq_column ul li {
			padding:8px 0;
			position:relative;
			font-size:11px;
			line-height:1.3em;
			border-bottom:1px solid #d5d8da;
			border-top:1px solid #fdfcfa;
		}
		.faq div.faq_column ul li:first-child { border-top:0; }
		.faq div.faq_column ul li:last-child { border-bottom:0; }
		.faq div.faq_column ul li h5 {
			cursor:pointer;
			padding:0 35px 0 10px;
			position:relative;
			font-weight:600;
			min-height:25px;
		}
		.faq div.faq_column ul li h5:before {
			position:absolute;
			left:0;
			top:0;
			content:'●';
			font-size:8px;
		}
		.faq div.faq_column ul li h5:after {
			position:absolute;
			right:1px;
			top:0;
			content:' ';
			display:block;
			width:28px;
			height:28px;
			background-image:url(../images/ico/arr2.png);
			background-repeat:no-repeat;
			background-position:0 0;
		}
		.faq div.faq_column ul li.open h5:after {
			background-position:0 100%;
		}
		.faq div.faq_column ul li div {
			display:none;
			background:#fff;
			padding:10px;
			margin:12px 0 0;
			color:#666;
			font-size:10px;
			line-height:1.3em;
		}
		.faq div.faq_column ul li.open div {
			display:block;
		}
	.faq div.inne_pytania {
		padding:40px 0 0;
		text-align:center;
	}
		.faq div.inne_pytania h3 {
			width:360px;
			margin:0 auto 30px;
		}
			.faq div.inne_pytania h3 strong {
				font-size:46px;
			}
		.faq div.inne_pytania p {
			text-align:center;
			font-weight:600;
			font-size:15px;
		}


		.faq div.faq_column:nth-child(3) h3 {
			-moz-transform: rotate(2deg);
			-webkit-transform: rotate(2deg);
			-o-transform: rotate(2deg);
			-ms-transform: rotate(2deg);
			transform: rotate(2deg);
		}
		.faq div.faq_column:nth-child(5) h3 {
			-moz-transform: rotate(3deg);
			-webkit-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
		}
		.faq div.faq_column:nth-child(4) h3 {
			-moz-transform: rotate(-2deg);
			-webkit-transform: rotate(-2deg);
			-o-transform: rotate(-2deg);
			-ms-transform: rotate(-2deg);
			transform: rotate(-2deg);
		}


/*******************
	Zasady
********************/
		.zasady .box p {
			position: relative;
			z-index:2;
		}

.zasady {
	position:relative;
	z-index:0;
	padding:144px 0 30px;
	margin:-144px auto 0;
	background:url(../images/zasady/hero.png) no-repeat 30% 0;
}
	.zasady h2 {
		font-family: 'peralta';
		color:#ef560a;
		font-size:76px;
		line-height:0.85em;
		margin:0 0 10px 110px;
		padding:0 0 15px;
		width:648px;
		background:url(../images/home/line.png) no-repeat 50% 100%;
		text-align:center;
	}
	.zasady .hero {
		width:523px;
		text-align:center;
		margin:-15px 0 0 20px;
		height:460px;
	}
		.zasady .hero h3 {
			font-family: 'peralta';
			color:#ef560a;
			font-size:33px;
			background:url(../images/zasady/quote.png) no-repeat 50% 50%;
			padding:50px 20px;
			line-height:1em;
		}
		.zasady .hero span {
			color:#998675;
			display:block;
			margin:-45px 0 0;
			font-weight:600;
		}
		.zasady .hero p {
			font-weight:600;
			padding:30px 50px ;
		}
	.zasady .box {
		background:url(../images/box2.png) no-repeat;
		background-size:100% 100%;
		width:885px;
		margin:0 auto;
		padding:30px 10px;
		position:relative;
		z-index:0;
		text-align:center;
	}
		.zasady .box > div {
			display:inline-block;
			width:240px;
			height:200px;
			position:relative;
			padding:25px 20px;
			font-size:12px;
			line-height:1.3em;
			margin:40px 15px;
			text-align:left;
		}
			.zasady .box > div h4 {
				font-family: 'peralta';
				color: #ef560a;
				font-size: 21px;
				line-height:1em;
				text-align:center;
				height:42px;
				position:absolute;
				top:-30px;
				left:0;
				width:100%;
				text-shadow: -2px -2px 0 #fafae7,
				 2px -2px 0 #fafae7,
				 -2px 2px 0 #fafae7,
				 2px 2px 0 #fafae7;
			}
			.zasady .box > div img {
				position:absolute;
				bottom:-30px;
				right:-25px;
			}
			.zasady .box > div div.bg {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:#fcfcf1;
				border:2px dashed #999;
				z-index:-1;
			}

			.zasady .box > div:nth-child(1) div.bg,
			.zasady .box > div:nth-child(6) div.bg {
				-moz-transform: rotate(2deg);
				-webkit-transform: rotate(2deg);
				-o-transform: rotate(2deg);
				-ms-transform: rotate(2deg);
				transform: rotate(2deg);
			}
			.zasady .box > div:nth-child(2) div.bg,
			.zasady .box > div:nth-child(4) div.bg {
				-moz-transform: rotate(3deg);
				-webkit-transform: rotate(3deg);
				-o-transform: rotate(3deg);
				-ms-transform: rotate(3deg);
				transform: rotate(3deg);
			}
			.zasady .box > div:nth-child(3) div.bg,
			.zasady .box > div:nth-child(5) div.bg {
				-moz-transform: rotate(-2deg);
				-webkit-transform: rotate(-2deg);
				-o-transform: rotate(-2deg);
				-ms-transform: rotate(-2deg);
				transform: rotate(-2deg);
			}
	.zasady .twoja_pozyczka {
		top:130px;
	}
	.twoja_pozyczka fieldset.kolo1 {
		background: #e1d4ba;
		color: #f05d34;
	}
	.twoja_pozyczka fieldset.kolo2 {
		background: #f1e5cd;
		color: #f05d34;
	}



/*******************
	Poradniki
********************/
.poradniki {
	position:relative;
	z-index:0;
	margin:-80px auto 0;
	padding:80px 0 30px;
}
	.poradniki h2 {
		font-family: 'peralta';
		color:#ef560a;
		font-size:60px;
		line-height:0.85em;
		margin:0 auto 10px;
		padding:0 0 15px;
		width:360px;
		position:relative;
		left:-35px;
		background:url(../images/home/line.png) no-repeat 50% 100%;
		text-align:center;
	}
	.poradniki .hero {
		height:350px;
		padding:30px 0 0;
		background:url(../images/poradniki/hero.png) no-repeat 0 0;
	}
		.poradniki .hero p {
			font-weight:600;
			padding:30px 0;
			margin:0 auto 10px;
			padding:30px 0;
			width:220px;
			position:relative;
			left:-50px;
			text-align:center;
		}
	.poradniki .box {
		background:url(../images/box3.png) no-repeat;
		background-size:100% 100%;
		width:877px;
		margin:-12px 0 0 ;
		padding:40px 10px 30px;
		position:relative;
		z-index:0;
		text-align:center;
	}
	.poradniki .box .zobacz_takze {
		padding:30px 30px 0;
		text-align:center;
		clear:both;
	}
		.poradniki .box .zobacz_takze h3 {
			float:left;
			font-family: 'peralta';
			color:#ef560a;
			font-size:30px;
			line-height:1em;
			padding:0 0 7px;
			margin:0 0 30px;
			background:url(../images/home/line.png) no-repeat 50% 100%;
		}
		.poradniki .box .zobacz_takze a {
			display:inline-block;
			width:175px;
			margin:20px 30px;
			text-decoration:none;
			position:relative;
		}
			.poradniki .box .zobacz_takze a span.title {
				font-family: 'peralta';
				color:#ef560a;
				font-size:19px;
				text-shadow:
				-2px -2px 0 #fff,
				2px -2px 0 #fff,
				-2px 2px 0 #fff,
				2px 2px 0 #fff;
				position:absolute;
				left:-30px;
				top:-15px;
				width:180px;
				text-align:center;
				z-index:1;
			}
			.poradniki .box .zobacz_takze a img {
				display:block;
				width:100%;
				height:auto;
				border:2px dashed #000;
				margin:0 0 7px;
			}
			.poradniki .box .zobacz_takze a span.h,
			.poradniki .box .zobacz_takze a span.l {
				float:left;
				margin:0 10px 0 0;
				color:#000;
				font-weight:600;
				position:relative;
			}

			.poradniki .box .zobacz_takze a span.h:before,
			.poradniki .box .zobacz_takze a span.l:before {
				background-image:url(../images/ico/likes.png);
				background-repeat: no-repeat;
				position:absolute;
				left:0;
				top:0;
				height:20px;
				display:block;
				content:' ';
			}
			.poradniki .box .zobacz_takze a span.h {
				padding-left:23px
			}
			.poradniki .box .zobacz_takze a span.h:before {
				width:19px;
				background-position: 0 0;
			}
			.poradniki .box .zobacz_takze a span.l {
				padding-left:35px
			}
			.poradniki .box .zobacz_takze a span.l:before {
				width:32px;
				background-position: 100% 0;
			}

			.poradniki .box .zobacz_takze a:nth-child(n+1) img {
				-moz-transform: rotate(2deg);
				-webkit-transform: rotate(2deg);
				-o-transform: rotate(2deg);
				-ms-transform: rotate(2deg);
				transform: rotate(2deg);
			}
			.poradniki .box .zobacz_takze a:nth-child(2n+2) img {
				-moz-transform: rotate(3deg);
				-webkit-transform: rotate(3deg);
				-o-transform: rotate(3deg);
				-ms-transform: rotate(3deg);
				transform: rotate(3deg);
			}
			.poradniki .box .zobacz_takze a:nth-child(3n+3) img {
				-moz-transform: rotate(-2deg);
				-webkit-transform: rotate(-2deg);
				-o-transform: rotate(-2deg);
				-ms-transform: rotate(-2deg);
				transform: rotate(-2deg);
			}

	.poradniki .box img.pic {
		position:absolute;
		top:250px;
		right:-50px;
	}
	.poradniki .box .porada {
		padding:0 100px 50px 30px;
		position:relative;
		text-align:right;
		margin:0 0 30px;
	}
	.poradniki .box .porada.right {
		text-align:left;
	}
		.poradniki .box .porada > div {
			background:url(../images/box4.png) no-repeat;
			background-size:100% 100%;
			width:466px;
			min-height:170px;
			padding:40px 40px 0;
			text-align:center;
			font-size:12px;
			line-height:1.3em;
			position:absolute;
			top:80px;
			left:30px;
		}
		.poradniki .box .porada.right> div {
			right:60px;
			left:auto;
		}
			.poradniki .box .porada > div h3 {
				font-family: 'peralta';
				color:#f8a239;
				font-size:28px;
				line-height:1.15em;
				text-shadow:
				-2px -2px 0 #fff,
				2px -2px 0 #fff,
				-2px 2px 0 #fff,
				2px 2px 0 #fff;
				position:absolute;
				top:-40px;
				left:0;
				width:100%;
			}
				.poradniki .box .porada > div h3 strong {
					font-size:42px;
					color:#ef560a;
					display:block;
				}
			.poradniki .box .porada.left > div h3 {
				-moz-transform: rotate(-3deg);
				-webkit-transform: rotate(-3deg);
				-o-transform: rotate(-3deg);
				-ms-transform: rotate(-3deg);
				transform: rotate(-3deg);
			}
			.poradniki .box .porada.right > div h3 {
				-moz-transform: rotate(3deg);
				-webkit-transform: rotate(3deg);
				-o-transform: rotate(3deg);
				-ms-transform: rotate(3deg);
				transform: rotate(3deg);
			}
			.poradniki .box .porada > div a.btn {
				padding:0 0 0 15px;
				text-decoration:none;
				background:url(../images/btn1.png) no-repeat;
				width:200px;
				height:45px;
				line-height:45px;
				text-align:left;
				font-size:16px;
				position:absolute;
				left:50%;
				margin-left:-100px;
				bottom:-20px;
				font-family: 'peralta';
			}
		.poradniki .box .porada img {
			margin: 0 0 5px;
		}
		.poradniki .box .porada span.h,
		.poradniki .box .porada span.l {
			display:inline-block;
			margin:0 10px 0 0;
			color:#000;
			font-weight:600;
			position:relative;
		}

		.poradniki .box .porada span.h:before,
		.poradniki .box .porada span.l:before {
			background-image:url(../images/ico/likes.png);
			background-repeat: no-repeat;
			position:absolute;
			left:0;
			top:0;
			height:20px;
			display:block;
			content:' ';
		}
		.poradniki .box .porada span.h {
			padding-left:23px
		}
		.poradniki .box .porada span.h:before {
			width:19px;
			background-position: 0 0;
		}
		.poradniki .box .porada span.l {
			padding-left:35px;
		}
		.poradniki .box .porada span.l:before {
			width:32px;
			background-position: 100% 0;
		}
		.poradniki .box .porada span.h {
			margin-left:180px;
		}
		.poradniki .box .porada.left span.l {
			margin-right:150px;
		}

	.poradniki .box .porada_full {
		padding:50px 100px 50px 30px;
		position:relative;
		margin:0 0 30px;
		text-align:left;
	}
		.poradniki .box .porada_full > div {
			background:url(../images/box5.png) no-repeat;
			background-size:100% 100%;
			width:757px;
			min-height:359px;
			padding:60px 40px 40px;
/*			font-weight:600;*/
			position:relative;
		}
			.poradniki .box .porada_full > div h3 {
				font-family: 'peralta';
				color:#f8a239;
				font-size:33px;
				line-height:1.1em;
				text-shadow:
				-2px -2px 0 #fff,
				2px -2px 0 #fff,
				-2px 2px 0 #fff,
				2px 2px 0 #fff;
				position:absolute;
				top:-20px;
				left:0;
				width:70%;
				text-align:center;
				z-index:9;
				-moz-transform: rotate(-3deg);
				-webkit-transform: rotate(-3deg);
				-o-transform: rotate(-3deg);
				-ms-transform: rotate(-3deg);
				transform: rotate(-3deg);
			}
				.poradniki .box .porada_full > div h3 strong {
					font-size:60px;
					color:#ef560a;
					display:block;
				}
			/*.poradniki .box .porada_full > div img,*/
			.poradniki .box .porada_full > div .art-img img {
				position:absolute;
				top:-50px;
				right:20px;
				width:285px;
				height:auto;
			}
			.poradniki .box .porada_full > div h5 {
				font-size:18px;
				line-height:1.2em;
				font-weight:bold;
				padding:20px 0;
				width:50%;
			}
			.poradniki .box .porada_full > div div.columns {
				-moz-column-count: 2;
				-moz-column-gap: 22px;
				-webkit-column-count: 2;
				-webkit-column-gap: 22px;
				column-count: 2;
				column-gap: 22px;
			}
			.poradniki .box .porada_full > div p {
				padding:0 0 20px;
				text-align:justify;
			}
			.poradniki .box .porada_full > div a.btn {
				padding:0 0 0 15px;
				text-decoration:none;
				background:url(../images/btn1.png) no-repeat;
				width:200px;
				height:45px;
				line-height:45px;
				text-align:left;
				font-size:16px;
				position:absolute;
				left:50%;
				margin-left:-100px;
				bottom:-20px;
				font-family: 'peralta';
				font-weight:normal;
			}
		.poradniki .box .porada_full img {
			margin: 0 0 5px;
		}
		.poradniki .box .porada_full span.h,
		.poradniki .box .porada_full span.l {
			display:inline-block;
			margin:0 10px 0 0;
			color:#000;
			font-weight:600;
			position:relative;
		}

		.poradniki .box .porada_full span.h:before,
		.poradniki .box .porada_full span.l:before {
			background-image:url(../images/ico/likes.png);
			background-repeat: no-repeat;
			position:absolute;
			left:0;
			top:0;
			height:20px;
			display:block;
			content:' ';
		}
		.poradniki .box .porada_full span.h {
			padding-left:23px;
			margin-left:180px;
		}
		.poradniki .box .porada_full span.h:before {
			width:19px;
			background-position: 0 0;
		}
		.poradniki .box .porada_full span.l {
			padding-left:35px;
		}
		.poradniki .box .porada_full span.l:before {
			width:32px;
			background-position: 100% 0;
		}


	.poradniki .twoja_pozyczka {
		top:80px;
	}
		.poradniki fieldset.kolo1 {
			background: #e1d4ba;
			color: #f05d34;
		}
		.poradniki fieldset.kolo2 {
			background: #f1e5cd;
			color: #f05d34;
		}


		.alert {
			text-align:center;
			background: #ef560a;
			padding: 5px 15px;
			border-radius: 5px;
			color: #fff !important;
			margin-bottom:5px;
		}

		.form .h_r_1,
		.form .h_r_2,
		.form .h_r_3,
		.form .h_r_4,
		.form .h_r_5,
		.form .h_r_6,
		.form .h_r_7,
		.form .h_r_8,
		.form .h_r_9,
		.form .h_s_1 {
			display: none;
		}

		.alert small {
			display: block;
		}

		.bank {
			display:none;
		}

		.small-text {
			font-size:10px;
		}

		.no-margin {
			margin-top: 0;
			padding-top: 0 !important;
		}